.contenedor{
    width: 100%;
    height: 100%;
}

.video-background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-bienvenidos{
    position: absolute;
    top: 50%;
    width: 100%;
}

.btn-diseño {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-left: 10%;
}


/* Contenedor de la franja de seguridad */
.security-strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 10%;
    text-align: center;
    font-size: 16px;
}

.security-strip .container {
    flex: 1;
}

.security-strip .left, 
.security-strip .middle, 
.security-strip .right {
    padding: 10px;
}

.security-strip .container p {
    margin: 0;
    line-height: 1.4;
    font-weight: bold;
}
.security-strip .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .security-strip i {
    font-size: 24px; /* Tamaño de los íconos */
    margin-bottom: 10px; /* Espacio entre el ícono y el texto */
    color: white; /* Color de los íconos, puedes cambiarlo si es necesario */
  }
  
  .security-strip p {
    margin: 0;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
  

/* Para asegurar que el texto se vea bien en todas las pantallas */
.security-strip .container p {
    font-size: 18px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    padding: 40px 10%;
    color: white;
}

.info-left {
    flex: 1;
}

.info-gif {
    max-width: 50%;
    height: auto;
}

.info-right {
    flex: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
}

.info-text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

/* Asegúrate que el texto esté bien alineado a la derecha */
.info-right p, .info-right h1 {
    text-align: right;
}

.contenedor-fondo {
    position: relative;
    width: 100%;
    height: 100vh; /* Puedes ajustar la altura si lo necesitas */
    background: url('../sources/home/fondo.png') no-repeat center center/cover;
    background-size: cover;
    padding: 20px; /* Espacio alrededor del contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alineado a la izquierda */
    color: white; /* Puedes cambiar el color del texto */
  }
  
  h1 {
    margin: 0;
    font-size: 2.5rem;
    margin-left: 10%;
  }
  
  p {
    margin-top: 5%;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-left: 10%;
  }
  